<!DOCTYPE html>
<html data-url-base="@Url.Content("~/")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/css/site.css" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>